[package]
name = "{{crate_name}}_gateway"
version.workspace = true
edition.workspace = true

[dependencies]
rustlavel = { workspace = true, features = ["gateway", "cache", "client", "discovery"] }
{{crate_name}}_shared = { path = "../../shared" }
